####################
#    .gitignore    #
####################


# Latex Temporary Files
####################
**/*.aux
**/*.log
**/*.synctex.gz

# Default javadoc location
###################
Project/doc/

# Packed Archives
###################
**/*.zip
**/*.7z
**/*.tar
**/*.gz
/*.jar

# Eclipse Settings
###################
/.project

# Unit Tests
###################
/test-working-dir/

# Distribution / build
##################
ant-classes/
dist/
.idea/

/bin/

# Ignore Eclipse classpath
###################
.classpath
/-verbose/
/repository
/test-incoming-dir/
out/
/.settings