####################
#    .gitignore    #
####################


# Latex Temporary Files
####################
**/*.aux
**/*.log
**/*.synctex.gz

# Default javadoc location
###################
Project/doc/

# Packed Archives
###################
**/*.zip
**/*.7z
**/*.tar
**/*.gz
**/*.jar
